body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

h1 {
  margin: 20px 0;
  color: #2c3e50;
}

#controls {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-array {
  width: 30%;
  max-width: 500px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#tree-container {
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow-x: auto; /* Allows horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping of elements */
}

.array-container {
  display: flex;
  justify-content: center;  /* Centering elements horizontally */
  margin-bottom: 20px;
  flex-wrap: nowrap; /* Prevents wrapping of elements */
}

.sublist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.array-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  padding: 5px 10px;
  min-width: 50px;
  min-height: 50px;
  font-size: 14px; /* Moderate size for visibility */
}

.unsorted {
  background-color: lightblue;
}

.merging {
  background-color: yellow;
}

.sorted {
  background-color: lightgreen;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
