/* Chatbot Icon */
.chatbot-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: black;
    color: #9088c2;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}
.chatbot-icon:hover{
    width: 80px;
    height: 80px;
}

/* Chatbot Container */
.chatbot-container {
    position: fixed;
    bottom: 50px;
    right: 80px;
    width: 300px;
    height: 400px;
    background-color: #9088c2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1000;
}

/* Chat Header */
.chat-header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Chat Messages */
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.chat-messages a{
    color: white;
    text-decoration: none;
}
.chat-messages a:hover{
    color: black;
}

/* Chat Input */
.chat-input {
    display: flex;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.close-chatbot:hover{
    background-color: #9088c2;
    color: white;
    border-width: 0;
}

.chat-input input {
    flex: 1;
    width: 30%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
}


.chat-input button {
    padding: 4px 8px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
